@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for custom theme variables and global styles */
@layer base {
	:root {
		--background: #f9faf8;
		--foreground: #131212;

		--card: #e9e9e9;
		--card-foreground: #131212;

		--popover: #f9faf8;
		--popover-foreground: #131212;

		--primary: #849975;
		--primary-foreground: #e9e9e9;

		--secondary: #9aacab;
		--secondary-foreground: #e9e9e9;

		--accent: #556272;
		--accent-foreground: #e9e9e9;

		--muted: #c7c4c4;
		--muted-foreground: #5f5f5f;

		--danger: #b00020;
		--success: #00b05e;

		--border: #c7c4c4;
		--input: #f9faf8;
		--ring: #131212;

		--chart-1: #1b4e6b;
		--chart-2: #5c63a2;
		--chart-3: #c068a8;
		--chart-4: #ec7176;
		--chart-5: #f4ab33;
	}

	.dark {
		--background: #131212;
		--foreground: #f9faf8;

		--card: #252525;
		--card-foreground: #f9faf8;

		--popover: #2c2c2c;
		--popover-foreground: #f9faf8;

		--primary: #758a66;
		--primary-foreground: #e9e9e9;

		--secondary: #3f5554;
		--secondary-foreground: #e9e9e9;

		--accent: #556272;
		--accent-foreground: #e9e9e9;

		--muted: #494848;
		--muted-foreground: #c7c4c4;

		--danger: #9d2a26;
		--success: #269d54;

		--border: #494848;
		--input: #2c2c2c;
		--ring: #f9faf8;

		--chart-1: #104a63;
		--chart-2: #3e4485;
		--chart-3: #9e3680;
		--chart-4: #c85c61;
		--chart-5: #e09c2a;
	}

	* {
		box-sizing: border-box;
		border-color: var(--border);
		text-decoration: none;
	}

	html {
		background-color: var(--background);
		color: var(--foreground);
		overflow-x: hidden;
		scroll-behavior: smooth;
		margin: 0;
		padding: 0;
	}

	hr {
		border-color: var(--border);
	}

	input,
	textarea,
	select {
		background-color: var(--input);
		color: var(--foreground);
		padding: 0.5rem;
		border-radius: 1rem;
		border-width: 1px;
		border-color: var(--border);
	}

	input:focus,
	textarea:focus,
	select:focus {
		outline: none;
	}

	h1 {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.25rem;
		line-height: 1.75rem;
		font-weight: 600;
	}

	h4 {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 600;
	}

	h5 {
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 600;
	}

	h6 {
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: 600;
	}
}

/* Components layer for custom reusable components */
@layer components {
	.card {
		padding: 1rem;
		border-radius: 1rem;
		background-color: var(--card);
		color: var(--card-foreground);
	}

	.popover {
		background-color: var(--popover);
		color: var(--popover-foreground);
		border-radius: 1rem;
		padding: 1rem;
		border-width: 1px;
		border-color: var(--border);
		box-shadow: 2px 2px 0.25rem var(--muted);
		opacity: 60;
	}

	.btn {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		gap: 0.5rem;
		font-size: 0.8rem;
		font-weight: 600;
		text-align: center;
		border: 1px solid var(--border);
		border-radius: 5rem;
		transition: transform 0.2s ease, opacity 0.2s ease;
		user-select: none;
		white-space: nowrap;
	}

	.btn:hover,
	.btn:focus {
		opacity: 0.5;
		outline: none;
	}

	.btn:active {
		opacity: 0.8;
		transform: scale(0.8);
	}

	.btn:disabled,
	.btn[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.icon {
		transition: transform 0.3s ease-in-out;
	}

	.icon:hover {
		transform: scale(1.2);
	}

	/* Match background and foreground colors */
	.bg-primary {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}

	.bg-secondary {
		background-color: var(--secondary);
		color: var(--secondary-foreground);
	}

	.bg-accent {
		background-color: var(--accent);
		color: var(--accent-foreground);
	}

	.bg-muted {
		background-color: var(--muted);
		color: var(--muted-foreground);
	}

	.bg-danger {
		background-color: var(--danger);
		color: var(--accent-foreground);
	}

	.bg-success {
		background-color: var(--success);
		color: var(--accent-foreground);
	}
}

/* Utilities layer for custom utility classes */
@layer utilities {
	.tooltip {
		z-index: 1;
		position: absolute;
		left: 2rem;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 0.5rem;
		background-color: var(--accent);
		padding: 0.25rem;
		font-size: 0.75rem;
		color: var(--accent-foreground);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.group:hover .tooltip {
		opacity: 1;
	}
}

/* Keyframe animation for flashing effect */
@keyframes flash {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-flash {
	animation: flash 1s ease-out;
}
